
/* Import poppins font */

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

.box{   
        background-color: rgb(187, 255, 255);
        border-style: solid;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

#pomodoro{
        max-width: 400px;
}

#title{

}

.controls{
        display: flex;
        flex-direction: column;
       }

.timer-boxes{
        display: flex;
        width:90%;
        justify-content: space-around;
        
        
}

.timer-box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-style: double;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        align-items: center;
        background-color: rgb(250, 249, 249);
}

.controls{
        display: flex;
        flex-direction: row;
        align-items: center;
}

.time-length{
        font-weight: 700;
        font-size: large;
        padding: 0px 10px 0px 10px;
}

.timer-icon{
        font-weight: 700;
        font-size: large;
}

.time-left-length{
        font-weight: 700;
        font-size: xx-large;
}

#time-controls{
        width:100%;
        display: flex;
        justify-content: space-around;
}